# Maven build files
**/bin/**/*
**/dependency-reduced-pom.xml
**/target/**/*

# IntelliJ files
**/.idea/**/*
**/*.iml
**/*.ipr
**/*.iws
**/out/**/*

# VS Code files
.vscode
.settings
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix

# MacOSX Files
**/.DS_Store/**/*
**/.DS_Store
